@-miz-viewport { width: device-width; scale: 1; }
@-mis-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	font: normal 100%/1.5;
	font-family: 'Muli', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.img-flex {
	width: 100%;
	display: block;
}

/* SMALL SCREEN 400px (equal to 25em) */
.yotta {
	font-size: 5.651rem;
/* line height= (fontsize/baseline height) x (baseline height/font size) */
	line-height: .999;
}

.zetta {
	font-size: 3.997rem;
	line-height: .999;
}

h1, .hexa {
	text-align: center;
	font-size: 2.827rem;
	line-height: .999;
}

h2, .peta {
font-size: 1.999rem;
line-height: .999;
}

h3, .tera {
font-size: 1.414rem;
line-height: .999;
}

p, .giga {
	font-size: 1rem;
	line-height: .999;
}

.milli {
font-size: .707rem;
line-height: .999;
}

.micro {
	font-size: .5rem;
	line-height: .999;
}

h1, h2, h3,
p, ul, dl, figure, table, hr {
	margin: 0 0 1.5rem 0;
}

.push {
	margin-bottom: 1.5rem;
}
.push-half {
	margin-bottom: .75rem;
}

.push-double {
	margin-bottom: 3rem
}

.brand {
	color: #0000ff;
	font-weight: bold;
}

.banner {
	background-color: #dedede;
}

.top-space {
	margin-top: 1.5rem;
}

.left-space {
	margin-left: 1.5rem;
}




a {
	text-decoration: none;
}

a:hover {
	color: #fff;
}


nav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 5.5em;
}

li {
	display: inline-block;
}


.masthead {
	background-color: lightgrey;
}

.footer-li {
	display: block;
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 38em) {



}



/* LARGE SCREENS */

@media only screen and (min-width: 60em) {

	nav ul {
		margin-top: 2em;
	}

	.footer-li {
		display: inline-block;
	}

}
