@-miz-viewport { width: device-width; scale: 1; }
@-mis-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.img-flex {
	width: 100%;
	display: block;
}

/* SMALL SCREEN 400px (equal to 25em) */

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #fff;
}


nav ul {
	list-style-type: none;
	padding: 0;
	margin-left: 5.5em;
}

li {
	display: inline-block;
}


.masthead {
		background-color: lightgrey;
}


/* LARGE*/

@media only
nav ul {
	margin-top: 2em;
}
